<p>createeventform works!</p>
<section class="a">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-lg-3 a1"></div>
            <div class="col-sm-8 col-lg-6 a2">
                <div id="divCreateEventForm" >
                    <form 
                    [formGroup] = "createEventForm" 
                    (ngSubmit)="onSubmit()"
                    novalidate>
                        <div class="form-group" id="titleDiv">
                            <label for="title">Title</label>
                            <textarea 
                                cols="60"
                                rows="3"
                                class="form-control" 
                                placeholder="Enter Title"
                                name = "title"
                                formControlName = "title"
                                ></textarea>
                        </div>
                        <div class="form-group" id="descriptionDiv">
                            <label for="description">Description</label>
                            <textarea 
                                cols="60"
                                rows="5"
                                class="form-control"
                                placeholder="Enter Description"
                                name= "description"
                                formControlName= "description"
                                ></textarea>
                        </div>
                        <div class="form-group" id="imagePathDiv">
                            <label for="imagePath">Image (bmp, jpg, png, gif)</label>
                            <input
                               type="file" 
                                class="form-control"
                                id="imagePath"
                                name= "imagePath"
                                formControlName= "imagePath"
                                (change)='onFileSelected($event)'>
                        </div>
                        <div id="dateGroup" id="dateDiv">
                            <div class="form-group" id="startdatediv">
                                <label for="dateStart">Date start</label>
                                <input
                                   type="datetime-local" 
                                   id="dateStart"
                                   class="form-control"
                                   name="dateStart" 
                                   formControlName="dateStart"
                                   value="2020-01-01" 
                                   min="2020-01-01" 
                                   max="2100-12-31">
                            </div>
                            <div class="form-group" id="finishdatediv">
                                <label for="dateFinish">Date finish</label>
                                <input
                                   type="datetime-local" 
                                   id="dateFinish"
                                   class="form-control"
                                   name="dateFinish" 
                                   formControlName="dateFinish" 
                                   value="2020-01-01" 
                                   min="2020-01-01" 
                                   max="2100-12-31">
                            </div>
                        </div>
                        <div class="text-center" id="submitbuttonDiv" >
                            <button 
                               id="btncreatesubm" 
                               type="submit" 
                               [disabled]="!createEventForm.valid"
                               class="btn btn-default">Отправить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix visible-sm-block visible-md-block"></div>
            <div class="col-sm-2 col-lg-3 a3"></div>
            <div class="clearfix visible-lg-block"></div>
        </div>
    </div>
</section>
