<p>regitrateform works!</p>
<section class="a">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-lg-4 a1"></div>
        <div class="col-sm-6 col-lg-4 a2">
            <div id="divform" >
                <form [formGroup] = "registrationForm" 
                      (ngSubmit)="onSubmit()"
                      novalidate>
                        <div class="form-group">
                            <label for="userEmail">E-Mail</label>
                            <input 
 
                                    type="email"
                                    class="form-control"
                                    formControlName = "userEmail"
                                    placeholder="Enter Email">
                                    <div *ngIf="registrationForm.get('userEmail').hasError('required') 
                                                && registrationForm.get('userEmail').touched"
                                          class="alert alert-danger" >Обязательное поле</div>
                                    <div *ngIf="registrationForm.get('userEmail').hasError('email') 
                                                && registrationForm.get('userEmail').touched"
                                          class="alert alert-danger" >Не соответствие формату email</div>
                                    <div *ngIf="registrationForm.get('userEmail').hasError('emailAddedValidator') 
                                                && registrationForm.get('userEmail').touched"
                                          class="alert alert-danger" >Такой email уже зарегистрирован</div>
                        </div>
                        <div class="form-group">
                            <label for="userPassword">Password</label>
                            <input 
                                    id="userPassword" 
                                    name="userPassword" 
                                    type="password" 
                                    class="form-control"
                                    formControlName = "userPassword"
                                    placeholder="Enter password">
                                    <div *ngIf="registrationForm.get('userPassword').hasError('required') 
                                               && registrationForm.get('userPassword').touched"
                                          class="alert alert-danger" >Обязательное поле</div>
                        </div>
                        <div class="form-group">
                            <label for="userPassword">Confirm password</label>
                            <input 
                                    id="confirmUserPassword" 
                                    name="confirmUserPassword" 
                                    type="password" 
                                    class="form-control"
                                    formControlName = "confirmUserPassword"
                                    placeholder="Confirm password"
                                    >
                                    <div *ngIf="registrationForm.get('confirmUserPassword').hasError('required') 
                                               && registrationForm.get('confirmUserPassword').touched"
                                         class="alert alert-danger" >Обязательное поле</div>
                                    <div *ngIf="registrationForm.get('confirmUserPassword').hasError('confirmPasswordValidator') 
                                                && registrationForm.get('confirmUserPassword').touched"
                                         class="alert alert-danger" >Пароли не совпадают</div>
                        </div>
                        <div class="text-center">
                            <button
                                id="btnregsubm"
                                type="submit"
                                [disabled]="!registrationForm.valid"
                                class="btn btn-default"
                            >Отправить</button>
                        </div>
                </form>
        </div>
        </div>
        <div class="clearfix visible-sm-block visible-md-block"></div>
        <div class="col-sm-6 col-lg-4 a3"></div>
        <div class="clearfix visible-lg-block"></div>

      </div>
    </div>
  </section>

  <ul>
    <li *ngFor="let user of users" >
      {{user.UserId}}     {{user.UserEmail}}
    </li >
  </ul>
